*,
*::before,
*::after {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
:root {
	--gray1: hsl(0, 0%, 55%);
	--gray2: hsl(0, 0%, 41%);
	font-size: 15px;
	font-family: "Alata", sans-serif;
	/* font-family: "Josefin Sans", sans-serif; */
}

body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

#first-section {
	color: white;
	background-image: url(./images/mobile/image-hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

.first-section-container {
	width: min(100% - 2.5em, 74em);
	margin-inline: auto;
	height: 43.625rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
}

.navbar {
	display: flex;
	justify-content: space-between;
	margin-top: 4rem;
}

.navbar > ul {
	display: flex;
	color: white;
	align-items: center;
	gap: 2rem;
}

.nav-options {
	display: none !important;
}
.nav-menu-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 21px;
	height: 21px;
	border: none;
	background: none;
	cursor: pointer;
}

.nav-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: black;
	display: grid;
	grid-template-rows: min-content 1fr;
	padding: 3rem 2rem;
}

.close-btn {
	background: none;
	border: none;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	height: min-content;
	width: min-content;
	justify-self: end;
	cursor: pointer;
}

.logo {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	height: min-content;
	width: min-content;
}

.nav-link {
	text-decoration: none;
	color: white;
	position: relative;
	cursor: pointer;
}

.underline::after {
	position: absolute;
	content: "";
	color: white;
	bottom: -50%;
	left: 50%;
	width: 0%;
	transform: translateX(-50%);
	border-top: 2px solid white;
	z-index: 200;
}

.social-media img {
	display: grid;
	z-index: 200;
}

.nav-link:hover::after {
	width: 50%;
	transition: width 0.2s ease-in-out;
}

.btn:hover {
	background-color: #000000;
	color: rgb(255, 255, 255);
}
.nav-menu-options {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	display: grid;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2rem;
	text-transform: uppercase;
	font-family: "Josefin Sans", sans-serif;
	gap: 2rem;
	grid-template-rows: repeat(5, min-content);
}

.nav-menu {
	display: none;
}

.active {
	display: grid;
}
.main-heading {
	color: white;
	font-family: "Josefin Sans", sans-serif;
	text-transform: uppercase;
	font-size: clamp(1.55rem, 5vw, 3rem);
	width: fit-content;
	max-width: 43.625rem;
	max-height: 20rem;
	border: 2px solid white;
	padding: 0 2rem;
	letter-spacing: 0.25rem;
	align-self: center;
}

.main-heading > h1 {
	margin-block: 2.25rem;
}

#second-section {
	margin-block: 6rem;
	grid-template-columns: repeat(2, 1fr);
}

#second-section img {
	max-width: 100%;
	height: auto;
}

.second-section-container {
	width: min(100% - 2.5em, 74em);
	margin-inline: auto;
	display: grid;
	grid-template-rows: repeat(2, fit-content);
}

.second-section-container > .content {
	background-color: white;
	padding: 2rem;
}

.second-section-container h1 {
	text-align: center;
	font-family: "Josefin Sans", sans-serif;
	font-size: 2rem;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}

.second-section-container p {
	text-align: center;
	color: var(--gray1);
}
#third-section {
	margin-block: 6rem;
}

.third-section-container {
	width: min(100% - 2.5em, 74em);
	margin-inline: auto;
	display: grid;
	grid-template-rows: repeat(3, min-content);
}

.third-section-container h1 {
	text-align: center;
	font-family: "Josefin Sans", sans-serif;
	font-size: 2.5rem;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
}

.btn {
	color: black;
	padding: 0.5rem 2rem;
	letter-spacing: 0.25rem;
	border: 2px solid black;
	background-color: white;
	grid-row: 3 / -1;
	width: fit-content;
	justify-self: center;
	cursor: pointer;
}

.creation-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 2rem;
	margin-block: 2rem;
	grid-template-rows: repeat(8, 125px);
}

.card {
	width: 100%;
	position: relative;
	background-position: top;
	background-size: cover;
	z-index: 34;
}
.card:hover {
	background-blend-mode: color-burn;
	background-color: rgba(255, 255, 255, 0.603);
}

.creation-grid h3 {
	position: absolute;
	z-index: 33;
	color: white;
	font-family: "Josefin Sans", sans-serif;
	bottom: 5%;
	left: 5%;
	right: 65%;
	font-size: 1.25rem;
}

footer {
	background-color: black;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	padding-bottom: 2rem;
}

footer .navbar {
	flex-direction: column;
	align-items: center;
}

.footer-nav {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 0;
	margin-block: 2rem;
}
footer .navbar img {
	height: min-content;
	width: min-content;
}

.social-media {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
	padding: 0;
	margin-block: 2rem;
}

footer p {
	color: var(--gray2);
}

#deep-earth {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
		url(./images/mobile/image-deep-earth.jpg);
}
#night-arcade {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
		url(./images/mobile/image-night-arcade.jpg);
}
#soccer-team {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
		url(./images/mobile/image-soccer-team.jpg);
}
#the-grid {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
		url(./images/mobile/image-grid.jpg);
}
#from-above {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
		url(./images/mobile/image-from-above.jpg);
}
#pocket-borealis {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
		url(./images/desktop/image-pocket-borealis.jpg);
}
#curiosity {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
		url(./images/mobile/image-curiosity.jpg);
}
#fisheye {
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
		url(./images/mobile/image-fisheye.jpg);
}

@media (min-width: 450px) {
	#first-section {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
			url(./images/desktop/image-hero.jpg);
	}
	#second-section img {
		content: url(./images/desktop/image-interactive.jpg);
		grid-column: 1 / 5;
		grid-row: 1/10;
	}
}

@media (min-width: 789px) {
	.nav-options {
		display: flex !important;
	}
	.nav-menu-btn {
		display: none !important;
	}
	.second-section-container > .content {
		background-color: white;
		padding: 5rem 0 0 5.5rem;
		grid-column: 4 / 9;
		grid-row: 4 / 10;
		max-width: 35.5rem;
		text-align: start;
	}
	.second-section-container p,
	.second-section-container h1 {
		text-align: start;
	}
	.second-section-container h1 {
		font-size: 3rem;
	}
	.creation-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 200px);
		grid-column: 1 / 3;
	}
	.card {
		background-size: cover;
	}

	.third-section-container {
		width: min(100% - 2.5em, 74em);
		margin-inline: auto;
		display: grid;
		grid-template-rows: repeat(3, min-content);
		margin-top: 4rem;
	}

	.third-section-container h1 {
		text-align: start;
		grid-row: 1 / 2;
	}

	.btn {
		grid-row: 1 / 2;
		justify-self: end;
		height: fit-content;
		align-self: center;
	}

	footer {
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		padding-bottom: 2rem;
		align-items: center;
	}

	footer .navbar {
		flex-direction: column;
		align-items: center;
	}

	.footer-nav {
		flex-direction: row;
	}
	footer .navbar img {
		height: min-content;
		width: min-content;
		align-self: stretch;
	}

	.social-media {
		list-style-type: none;
		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: center;
		gap: 1.25rem;
		padding: 0;
		margin-block: 2rem;
	}
}

@media (min-width: 1200px) {
	.creation-grid {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 450px);
	}
	.card {
		background-size: contain;
	}
	.creation-grid h3 {
		position: absolute;
		z-index: 33;
		color: white;
		font-family: "Josefin Sans", sans-serif;
		bottom: 5%;
		left: 15%;
		right: 15%;
		font-size: 2rem;
		font-weight: 300;
	}
	#deep-earth {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
			url(./images/desktop/image-deep-earth.jpg);
	}
	#night-arcade {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
			url(./images/desktop/image-night-arcade.jpg);
	}
	#soccer-team {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
			url(./images/desktop/image-soccer-team.jpg);
	}
	#the-grid {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
			url(./images/desktop/image-grid.jpg);
	}
	#from-above {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
			url(./images/desktop/image-from-above.jpg);
	}
	#pocket-borealis {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
			url(./images/desktop/image-pocket-borealis.jpg);
	}
	#curiosity {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
			url(./images/desktop/image-curiosity.jpg);
	}
	#fisheye {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5018382352941176) 26%, rgba(0, 0, 0, 0) 96%),
			url(./images/desktop/image-fisheye.jpg);
	}
}
